streamlit
streamlit-modal
streamlit-scrollable-textbox
transformers
torch
openai
langchain
matplotlib

langchain

python-dotenv
watchdog
# For Scraping
requests
selenium
beautifulsoup4

# For Summarizer related
pandas

